.header{
    border: none;
    background-color: transparent;
    font-size: 24;
    font-family: "Poppins";
    font-weight: 600;
    color: #341539;
}

.lightbody{
    border: none;
    background-color: transparent;
    font-size: 23;
    font-family: "Poppins";
    font-weight: 600;
    color: #FFE2E2;
}

.darkbody{
    border: none;
    background-color: transparent;
    font-size: 23;
    font-family: "Poppins";
    font-weight: 600;
    color: #5C5A7B;
}